button {
	color: white;
	border-radius: 4px;
	padding: 5px 25px;
	height: 46px;
	width: 150px;
	font-size: 14px;
}
.button-primary,
.button-primary:hover,
.button-primary-empty {
	border: 1px solid #33a0ff;
}
.button-primary-empty,
.button-primary-light {
	color: #33a0ff;
}
.button-primary {
	background-color: #33a0ff;
}
.button-primary-hover:hover {
	background-color: #2e90e5;
}
.button-primary-empty {
	background-color: #fff;
}
.button-primary-light {
	background-color: rgba(51, 160, 255, 0.1);
	border: none;
}
.button-primary-light:hover {
	border: none;
}
.button-primary-cart {
	position: relative;
	padding: 0 15px;
}
.button-primary-cart img {
	position: absolute;
}
.button-primary-cart span {
	padding-left: 22px;
}
.button-primary-favorites {
	width: 181px;
	position: relative;
}
.button-primary-favorites:hover {
	border: none;
}
.button-primary-favorites img {
	position: absolute;
	left: 20px;
	top: 16px;
}
.button-primary-favorites span {
	padding-left: 20px;
}
.button-primary-fav-sm {
	display: flex;
	justify-content: center;
	width: 46px;
	height: 46px;
}
.button-primary-red-sm {
	display: flex;
	justify-content: center;
	width: 46px;
	height: 46px;
}
.button-danger,
.button-danger-hover,
.button-danger-light {
	border: 1px solid #ff4858;
}
.button-danger-empty,
.button-danger-light {
	color: #ff4252;
}
.button-danger {
	background-color: #ff4858;
}
.button-danger-hover:hover {
	background-color: #f53848;
}
.button-danger-empty {
	background-color: #fff;
}
.button-danger-light {
	background-color: rgba(255, 72, 88, 0.1);
	border: none;
}
.button-success,
.button-success-hover,
.button-success-empty {
	border: 1px solid #0ad00a;
}
.button-success-empty,
.button-success-light {
	color: #0ad00a;
}
.button-success {
	background-color: #0ad00a;
}
.button-success-hover:hover {
	background-color: #07c107;
}
.button-success-empty {
	background-color: #fff;
}
.button-success-light {
	background-color: rgba(10, 208, 10, 0.1);
	border: none;
}
.button-warning,
.button-warning-hover,
.button-warning-empty {
	border: 1px solid #ffc600;
}
.button-warning-empty,
.button-warning-light {
	color: #ffc600;
}
.button-warning {
	background-color: #ffc600;
}
.button-warning-hover:hover {
	background-color: #ebb600;
}
.button-warning-empty {
	background-color: #fff;
}
.button-warning-light {
	background-color: rgba(255, 198, 0, 0.1);
	border: none;
}
.button-default,
.button-default-hover,
.button-default-empty {
	border: 1px solid #22262a;
}
.button-default-empty,
.button-default-light {
	color: #22262a;
}
.button-default {
	background-color: #22262a;
}
.button-default-hover:hover {
	background-color: #13161a;
}
.button-default-empty {
	background-color: #fff;
}
.button-default-light {
	background-color: rgba(34, 38, 42, 0.1);
	border: none;
}
.button-large {
	width: 171px;
	height: 60px;
	font-size: 16px;
}
