.form-label {
	font-size: 14px;
	display: flex;
	margin-bottom: 3px;
}
.form-input {
	font-size: 14px;
	width: 300px;
	height: 38px;
	border: 2px solid #f1f3f4;
	border-radius: 4px;
	padding: 0 10px;
}
