.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	border: 4px solid #f6f7f8;
	border-radius: 4px;
	width: 270px;
	height: 349px;
}
.hover-over {
	width: 250px;
	height: 197px;
	display: inline-flex;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.9);
	align-items: center;
	justify-content: center;
}
.circle-heart,
.circle-cart {
	margin: 0 8px;
}
.computer-img {
	margin-top: 15px;
}
hr {
	width: 230px;
	border: 1px solid #f6f7f8;
	margin: 26px 0 10px 0;
}
.rating-img {
	margin: 18px 0px 0px 0px;
	width: 72.41px;
	height: 10px;
}
.prices {
	display: inline-flex;
}
.price {
	padding: 0 5px;
	font-size: 16px;
}
.price-new {
	color: #ff4858;
}
.price-old {
	color: #c1c8ce;
	text-decoration: line-through;
}
