.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	border: 4px solid #f6f7f8;
	border-radius: 4px;
	width: 270px;
	height: 349px;
}
.hover-over {
	width: 250px;
	height: 197px;
	display: inline-flex;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.9);
	align-items: center;
	justify-content: center;
}
.circle-heart,
.circle-cart {
	margin: 0 8px;
}
.computer-img {
	margin-top: 15px;
}
hr {
	width: 230px;
	border: 1px solid #f6f7f8;
	margin: 26px 0 10px 0;
}
.rating-img {
	margin: 18px 0px 0px 0px;
	width: 72.41px;
	height: 10px;
}
.prices {
	display: inline-flex;
}
.price {
	padding: 0 5px;
	font-size: 16px;
}
.price-new {
	color: #ff4858;
}
.price-old {
	color: #c1c8ce;
	text-decoration: line-through;
}
.inline {
	display: flex;
}
.inline-left {
	display: flex;
	align-items: center;
	margin-right: 20px;
	border: 3px solid #f6f7f8;
	padding: 0 30px;
	border-radius: 3px;
}
.inline-left .computer-img {
	margin-top: 0;
}
.line1 .Product {
	font-size: 24px;
}
.line2 {
	display: inline-flex;
}
.line2 .rating-img {
	margin: 0;
	padding-bottom: 6px;
}
.reviews {
	padding: 0 25px;
	margin: 0;
	color: #c1c8ce;
	font-size: 14px;
}
.inline-right hr {
	width: 470px;
	margin-top: 15px;
}
.line2 a {
	text-decoration: none;
	color: #33a0ff;
	font-size: 14px;
}
.line3 .prices .price {
	font-size: 20px;
}
.line3 p {
	margin: 12px 0;
}
.line4 {
	width: 570px;
	height: 71px;
}
.line4 p {
	margin: 0;
	line-height: 24px;
}
.line5 {
	display: inline-flex;
	margin-top: 20px;
	color: #262626;
}
.line5 .button-primary-cart {
	margin-right: 15px;
}
