.form-label {
	font-size: 14px;
	display: flex;
	margin-bottom: 3px;
}
.form-input {
	border: 2px solid #f1f3f4;
	border-radius: 4px;
	padding: 0 15px;
}
.form-input-sm,
.form-input-md,
.form-input-lg {
	width: 300px;
}
.form-input-sm {
	font-size: 14px;
	height: 38px;
}
.form-input-md {
	height: 46px;
	font-size: 16px;
}
.form-input-lg {
	height: 60px;
	font-size: 16px;
}
